<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.10.10:3306/hourregistration</property>
        <property name="hibernate.connection.username">hourregistration</property>
        <property name="hibernate.connection.password">jts3zWi5pC9HnNj</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="objects.ProjectDTO" />
        <mapping class="objects.ClientDTO" />
        <mapping class="objects.ImplementorDTO" />
        <mapping class="objects.HourDTO" />
        <mapping class="objects.UserDTO" />
        <mapping class="objects.FolderDTO" />
    </session-factory>
</hibernate-configuration>